{% extends 'base.html' %}


{% block body %}

    {% for n in news %}
        <h3>{{ n.title}}</h3>
        <p>{{n.body}}</p>
        <a href="{% url 'edit' n.id %}">Edit</a>
        <!-- http://127.0.0.1:8000/edit/12 -->
        <a href="{% url 'del' n.id %}" >Delete</a>
        <!-- http://127.0.0.1:8000/del/12 -->

    {% endfor %}
{% endblock body %}