<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News reader</title>
</head>
<body>
    <a href="{% url 'allnews'%}">All news</a>
    {% block body %}
    {% endblock body %}
</body>
</html>