{% extends 'base.html' %}


{% block body %}

    {% for n in news %}
        <h3>{{ n.title}}</h3>
        <p>{{n.body}}</p>
        <a href="{% url 'edit' n.id %}">Edit</a>
        <a href="{% url 'del' n.id %}" >Delete</a>
    {% endfor %}
{% endblock body %}